@page
@model BookStore_RazorPages.Pages.Categories.DeleteModel
<form method="post">
    <input asp-for="category.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="form-floating py-2 col-12">
            <input asp-for="category.Name" disabled class="form-control border-0 shadow" />
            <label asp-for="category.Name" class="ms-2"></label>
        </div>
        <div class="form-floating py-2 col-12">
            <input asp-for="category.DisplayOrder" disabled class="form-control border-0 shadow" />
            <label asp-for="category.DisplayOrder" class="ms-2"></label>
        </div>

        <div class="row mt-3">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/categories/index"  class="btn btn-secondary border  form-control">
                    Back to List
                </a>
            </div>
        </div>


    </div>
</form>
@* adding client side validation through shared/_ValidationScriptsPartial  *@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}